/* Style pour la card du cinéma */
.cinema-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content; /* Ajuste la largeur au contenu */
  }
  
  .cinema-card h2 {
    margin-top: 0;
    color:  #f39e9e;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 8px;
    margin-bottom: 16px;
  }
  
  /* Style pour la card de l'alerte */
  .alert-card {
    border: 1px solid #fafafa; /* Coloration en orange pour le style d'alerte */
    border-radius: 8px;
    color: white; /* Texte en blanc */
    padding: 10px;
    margin: 8px 0;
    width: fit-content; /* Ajuste la largeur au contenu */
    margin-bottom: 10px; 
    background-color: #f39e9e; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .alert-card p {
    margin: 4px 0;
    color: #555;
  }
  
  .alert-card p:first-child {
    margin-top: 0;
  }
  
  .alert-card p:last-child {
    margin-bottom: 0;
  }
  