<p>login works!</p>
<!-- <div class="login-container">
    <h2>Connexion</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" name="username" ngModel required>
  
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" ngModel required>
  
      <button type="submit">Se Connecter</button>
    </form>
    <p *ngIf="loginError" class="error-message">Accès non autorisé. Contactez l'administrateur.</p>
  </div>
   -->