<div >
  <div class="cinema-selector">
    <h2>Visualisation des projecteurs</h2>
    <label for="cinemaSelect">Sélectionnez un cinéma:</label>
    <select id="cinemaSelect" [(ngModel)]="selectedCinema" (change)="onCinemaSelect()">
      <option value="">Sélectionnez un cinéma</option>
      <option *ngFor="let cinema of cinemas" [value]="cinema.cinema_id">{{ cinema.cinema_id }}</option>
    </select>
  </div>

  <div class="grid-container" *ngIf="selectedCinema">
    <h3>Projecteurs pour {{ selectedCinema }}</h3>
    <div class="projector-grid">
      <div *ngFor="let projector of projectors" class="projector-card" (click)="onProjectorClick(projector)">
        <div class="projector-details">
          <div class="projector-wrapper">
            <ng-container [ngSwitch]="projectorStatus[projector.projector_id]">
              <img [src]="getStatusImage(projectorStatus[projector.projector_id])" [@statusChange]="projectorStatus[projector.projector_id]">
              <p>Projecteur ID: {{ projector.projector_id }} - {{ statusSymbols[projectorStatus[projector.projector_id]] }}</p>
              <!-- Autres détails du projecteur -->
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
