<p>projector-status-list works!</p>
<div>
    <h2>Liste des projecteurs</h2>
    <label for="cinemaSelect">Sélectionnez un cinéma :</label>
    <select id="cinemaSelect" [(ngModel)]="selectedCinema" (change)="onCinemaChange()">
      <option *ngFor="let cinema of cinemas" [value]="cinema.cinema_id">{{ cinema.cinema_id }}</option>
    </select>
  </div>
  
  <div *ngIf="projectors">
    <h3>Projecteurs pour le cinéma {{ selectedCinema }}</h3>
    <ul>
      <li *ngFor="let projector of projectors">
        <p>Projecteur ID: {{ projector.projector_id }}</p>
        <p>Statut: {{ projector.status }}</p>
      </li>
    </ul>
  </div>